@page "/"

<PageTitle>Home</PageTitle>

<h1>Ответить на вопросы по:</h1>

<nav class="nav">
    <a class="nav-link active" aria-current="page" href="#">C#</a>
    <a class="nav-link" href="#">.NET</a>
    <a class="nav-link" href="#">SQL</a>
    <a class="nav-link" href="#">EF</a>
</nav>

Welcome to your new app.